[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
flask-heroku = "*"
psycopg2-binary = "*"
environs = "*"

[dev-packages]

[requires]
python_version = "3.9"
